#btom{
    Position: -900;
    

}

#btStore{
    margin-left: -10px;
    margin-top: 100px;
    width: 50px;
    height: 30px;   
    font-size:14px;
    font-weight:900;
}
#btGmail{
    margin-right: -790px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btbilder{
    margin-right: 790px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btSödkpåGoogle{
    margin-left: 1000px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btJaghartur{
    margin-left: 1000px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btSverige{
    margin-left: 1000px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btannonsering{
    margin-left: 1000px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btföretagslösning{
    margin-left: 1000px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btsåfungerarsök{
    margin-left: 1000px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btintergiretet{
    margin-left: 1000px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btvillkor{
    margin-left: 1000px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
#btinställningar{
    margin-left: 1000px;
    margin-top: 100px;
    width: 84px;
    height: 45px;   
    font-size:14px;
    font-weight:900;
}
